@font-face {
    font-family: 'custom font';
    src: url(../font/NanumSquareR.ttf);
}

body {
    margin: 0px;
    font-family: 'custom font';
}

.container {
    width: 800px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    width: 80%;
    height: 200px;
    float: left;
}

.left-bottom {
    clear: both;
}

.right {
    width: 20%;
    height: 200px;
    float: left;
}

.left-img {
    width: 50px;
    height: 50px;
    float: left;
}

.left-right {
    float: left;
}

.left-right > h4 {
    margin: 0px 0px 5px 10px;
}

.left-right > span {
    margin: 0px 0px 0px 10px;
}

.right-img {
    width: 100%;
    height: 100%;
}

.navbar {
    text-align: center;
    padding: 0px;
}

.navbar > li {
    width: 150px;
    display: inline-block;
    background-color: #eee;
    padding: 10px 25px 10px 25px;
    border-radius: 10px 10px 0px 0px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(67, 156, 67);
    font-weight: bold;
}

.table-background {
    width: 40%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    background-color: rgb(185, 214, 224);
}

.table-background > p {
    color: rgb(33, 33, 141);
    font-size: 25px;
}

.shopping-table {
    width: 90%;
    height: 250px;
    font-weight: bold;
    border: 0;
    border-collapse: separate;
    border-spacing: 0 5px;
    border-radius: 5px;
    background-color: white;
}

thead tr th {
    border-bottom: 1px solid rgb(185, 214, 224);
    border-collapse: separate; 
    border-spacing: 5px 5px;
} 

tbody tr td {
    border-bottom: 1px solid rgb(185, 214, 224);
    border-collapse: separate;
    border-spacing: 5px 5px;
    text-overflow: ellipsis;
}

tbody tr:last-child td {
    height: 50px;
    font-size: 18px;
    border-bottom: none;
    border-collapse: separate;
    border-spacing: 5px 5px;
}

th, td {
    text-align: right;
}

th {
    color: gray;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

td {
    color: rgb(185, 214, 224);
}

thead th:first-child {
    width : 50%;
    text-align: center;
}

.shopping-table tr:first-child td:first-child,
.shopping-table tr:nth-child(2) td:first-child {
    text-align: left;
    padding-left: 30px;
}

.shopping-table th:last-child,
.shopping-table td:last-child {
    padding-right: 30px;
}

.shopping-table td:last-child {
    color: rgb(33, 33, 141);
}

.table-bottom {
    width: 90%;
    margin-top: 20px;
    vertical-align: middle;
}

.custom-link {
    text-decoration: none;
}

.custom-link:hover {
    color: orange
}

/* .custom-link:visited {
    color: black;
} */

.table-button {
    background-color: rgb(33, 33, 141);
    color: white;
    font-size: 15px;
    padding: 20px;
    float: right;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-button:hover {
    background-color: chocolate;
}

.table-button:focus {
    background-color: grey;
}

.table-button:active {
    background-color: brown;
}

.media-container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.media-container > div {
    width: 25%;
    float: left;
    margin-top: 20px;
}

@media screen and (max-width: 992px) {
    .media-container {
        max-width: 600px;
    }

    .media-container > div {
        width: 50%;
        float: left;
    }
}

@media screen and (max-width: 768px) {
    .media-container > div {
        width: 100%;
        font-size: 13px;
    }
}

.media-container i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
    margin-top: 20px;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; /* 완전 투명 */
    transition: all 1s;
    transition-timing-function: cubic-bezier(1, -0.08, .95, .49);   /* 처음엔 느리게 나중엔 빠르게 transition 효과가 나타남 */
}

.overlay:hover {
    opacity: 1; /* 완전 불투명 */
}